@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Raleway", sans-serif;
    font-family: "Arimo", sans-serif;
    font-family: Arial, sans-serif;
   */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #FEFEFE;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 100%;
  max-width: 1570px;
  height: fit-content;
  margin: 0 auto;
  padding: 0 auto;
}

.main-btn_site {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1%;
  background: #F99244;
  border-radius: 50px;
  color: #fff;
}