@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Raleway", sans-serif;
    font-family: "Arimo", sans-serif;
    font-family: Arial, sans-serif;
   */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #FEFEFE;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 100%;
  max-width: 1610px;
  height: fit-content;
  margin: 0 auto;
  padding: 0 1%;
}





.main-btn_site {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1%;
  background: #F99244;
  border-radius: 50px;
  color: #fff;
}

.name-title_page {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1%;
  color: #202020;
  text-align: center;
  position: relative;
  padding-bottom: 32px;
}

.name-title_page::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #A4A4A4;
  bottom: 0;
  left: 0;
}